head
  title Forty by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='css/main.css')
  noscript
    link(rel='stylesheet' href='css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header.alt
    a.logo(href='index.html')
      strong Forty
      span by HTML5 UP
    nav
      a(href='#menu') Menu
  // Menu
  nav#menu
    ul.links
      li
        a(href='index.html') Home
      li
        a(href='landing.html') Landing
      li
        a(href='generic.html') Generic
      li
        a(href='elements.html') Elements
    ul.actions.stacked
      li
        a.button.primary.fit(href='#') Get Started
      li
        a.button.fit(href='#') Log In
  // Banner
  section#banner.major
    .inner
      header.major
        h1 Hi, my name is Forty
      .content
        p
          | A responsive site template designed by HTML5 UP
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;and released under the Creative Commons.
        ul.actions
          li
            a.button.next.scrolly(href='#one') Get Started
  // Main
  #main
    // One
    section#one.tiles
      article
        span.image
          img(src='images/pic01.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Aliquam
          p Ipsum dolor sit amet
      article
        span.image
          img(src='images/pic02.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Tempus
          p feugiat amet tempus
      article
        span.image
          img(src='images/pic03.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Magna
          p Lorem etiam nullam
      article
        span.image
          img(src='images/pic04.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Ipsum
          p Nisl sed aliquam
      article
        span.image
          img(src='images/pic05.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Consequat
          p Ipsum dolor sit amet
      article
        span.image
          img(src='images/pic06.jpg' alt='')
        header.major
          h3
            a.link(href='landing.html') Etiam
          p Feugiat amet tempus
    // Two
    section#two
      .inner
        header.major
          h2 Massa libero
        p
          | Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
        p= title 
        p=data
        ul.actions
          li
            a.button.next(href='landing.html') Get Started
  // Contact
  section#contact
    .inner
      section
        form(method='post' action='#')
          .fields
            .field.half
              label(for='name') Name
              input#name(type='text' name='name')
            .field.half
              label(for='email') Email
              input#email(type='text' name='email')
            .field
              label(for='message') Message
              textarea#message(name='message' rows='6')
          ul.actions
            li
              input.primary(type='submit' value='Send Message')
            li
              input(type='reset' value='Clear')
      section.split
        section
          .contact-method
            span.icon.alt.fa-envelope
            h3 Email
            a(href='#') information@untitled.tld
        section
          .contact-method
            span.icon.alt.fa-phone
            h3 Phone
            span (000) 000-0000 x12387
        section
          .contact-method
            span.icon.alt.fa-home
            h3 Address
            span
              | 1234 Somewhere Road #5432
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;United States of America
  // Footer
  footer#footer
    .inner
      ul.icons
        li
          a.icon.alt.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.alt.fa-facebook(href='#')
            span.label Facebook
        li
          a.icon.alt.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.alt.fa-github(href='#')
            span.label GitHub
        li
          a.icon.alt.fa-linkedin(href='#')
            span.label LinkedIn
      ul.copyright
        li &copy; Untitled
        li
          | Design: 
          a(href='https://html5up.net') HTML5 UP
// Scripts
script(src='js/jquery.min.js')
script(src='js/jquery.scrolly.min.js')
script(src='js/jquery.scrollex.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')

